# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
.Trash

# Ansible retry files
retry.*
ansible.log

# Terraform state files
*.tfstate
