# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
.Trash

# Ansible logs and retry files
retry.*
ansible*.log
log/*

# Terraform state files
*.tfstate
.terraform
